<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <appSettings>
      <!-- Base/parent config -->
      <add key="base" value="unity.dev.config" />
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <container name="ContTest">
      <register name="Test"
                type="UnityInjection.Tests.ITest, UnityInjection.Tests"
                mapTo="UnityInjection.Tests.Test1, UnityInjection.Tests">
        <lifetime type="singleton" />
        <constructor>
          <param name="value" dependencyName="Value1"/>
        </constructor>
      </register>
    </container>

  </unity>

</configuration>