<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    </configSections>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <alias alias="IDictionary" type="System.Collections.Generic.IDictionary`2, mscorlib"/>
        <alias alias="Dictionary" type="System.Collections.Generic.Dictionary`2, mscorlib"/>

        <alias alias="IList" type="System.Collections.Generic.IList`1, mscorlib"/>
        <alias alias="List" type="System.Collections.Generic.List`1, mscorlib"/>

        <container name="ContTest">
            <instance name="TimeStampFormat" value="yyyy-MM-dd HH:mm:ss" />
        </container>
    </unity>
</configuration>