<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    </configSections>

    <appSettings>
        <add key="base" value="unity.common.config" />
    </appSettings>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <container name="ContTest">
            <instance name="Value2" value="doe" />

            <register name="Test"
                      type="UnityInjection.Tests.ITest, UnityInjection.Tests"
                      mapTo="UnityInjection.Tests.Test2, UnityInjection.Tests">
                <lifetime type="singleton" />
                <constructor>
                    <param name="value1" dependencyName="Value1" />
                    <param name="value2" dependencyName="Value2" />
                </constructor>
            </register>
        </container>
    </unity>
</configuration>